# Adding additional variables

We are using this notebook to two additional variables: <br>
<ul>
    <li>Grade Coefficient</li>
    <li>Semester after registration</li>
</ul>
<br>
The first represents the Grade Coefficient used in my University.<br>
Each letter grade (A, A-, B+ etc) has a corresponding GPA value.<br><br>
Semester after registration represents the number of semesters that have passed since the student's registration.<br> If a student is fourth year second semester, the number of semesters after registration will be eight

<br><br> Importing standard packages

In [1]:
import pandas as pd

Reading the data

In [2]:
true_data = pd.read_csv('final_true_data.csv')
coeff = pd.read_csv('coeff.csv')

In [5]:
coeff

  Num Grade   Grade Coefficient
0         F                 0.0
1         E                 1.0
2         C                 2.0
3        C+                 2.3
4        B-                 2.7
5         B                 3.0
6        B+                 3.3
7        A-                 3.7
8         A                 4.0

In [4]:
true_data

,Unnamed: 0,Unnamed: 0.1,Student ID,Date of Birth,Registration Date,Faculty,Program,Education Level,Semester,Course code,Course name,Credits,Num Grade,Letter Grade
0,0,0,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS302,ALGORITHMS AND DATA STRUCTURES,3|6,6.0,C
1,1,1,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS303,DIGITAL DESIGN,3|6,6.0,C
2,2,2,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS305,PROGRAMMING LANGUAGES,3|6,6.0,C
3,3,3,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS307,OPERATING SYSTEMS,3|6,6.0,C
4,4,4,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS310,HUMAN COMPUTER INTERACTION,3|6,6.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,4505,1735,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH202,ARCHITECTURAL DESIGN STUDIO II,6|12,7,B-
4506,4506,1736,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH302,URBAN DESIGN AND PLANNING,3|6,5,E
4507,4507,1737,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH312,BUILDING CONSTRUCTION,2|4,6,C
4508,4508,1738,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH372,COMPOSITIONS IN ARCHITECTURE,2|4,6,C
4509,4509,1739,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH408,BUILDING PHYSICS,2|4,6,C

Adding the <b>Grade Coefficient</b> with merge

In [6]:
df_with_coeff = pd.merge(true_data, coeff, how='left', left_on='Letter Grade', right_on='Num Grade')

In [7]:
df_with_coeff.rename(columns={'Num Grade_x':'Num Grade'}, inplace=True)

In [8]:
df_with_coeff.drop(['Num Grade_y', 'Unnamed: 0', 'Unnamed: 0.1'], inplace=True, axis=1)

In [9]:
df_with_coeff

,Student ID,Date of Birth,Registration Date,Faculty,Program,Education Level,Semester,Course code,Course name,Credits,Num Grade,Letter Grade,Grade Coefficient
0,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS302,ALGORITHMS AND DATA STRUCTURES,3|6,6.0,C,2.0
1,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS303,DIGITAL DESIGN,3|6,6.0,C,2.0
2,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS305,PROGRAMMING LANGUAGES,3|6,6.0,C,2.0
3,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS307,OPERATING SYSTEMS,3|6,6.0,C,2.0
4,150302011,1996-04-17,2015-09-21,Faculty of Engineering and Natural Sciences,Computer Sciences and Engineering (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,CS310,HUMAN COMPUTER INTERACTION,3|6,6.0,C,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH202,ARCHITECTURAL DESIGN STUDIO II,6|12,7,B-,2.7
4506,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH302,URBAN DESIGN AND PLANNING,3|6,5,E,1.0
4507,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH312,BUILDING CONSTRUCTION,2|4,6,C,2.0
4508,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH372,COMPOSITIONS IN ARCHITECTURE,2|4,6,C,2.0
4509,150302042,1996-05-11,2015-09-21,Faculty of Engineering and Natural Sciences,Architecture (Bachelor),I Cycle (Bachelor),6.Semester: 2018 Fall,ARCH408,BUILDING PHYSICS,2|4,6,C,2.0

Adding the <b>Semester after registration</b>

In [10]:
test_array = df_with_coeff['Semester'].unique()

In [11]:
df_with_coeff['Semester'][df_with_coeff['Semester']=='7.Semester: Semester: 2020'] = '7.Semester: 2020 Spring'

/home/fuad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
for semester in test_array:
    if semester != 'Unknown':
        print(semester)

6.Semester: 2018 Fall
9.Semester: 2020 Spring
1.Semester: 2016 Spring
5.Semester: 2018 Spring
8.Semester: 2019 Fall
7.Semester: 2019 Spring
4.Semester: 2017 Fall
2.Semester: 2016 Fall
3.Semester: 2017 Spring
3.Semester: 2017 Fall
2.Semester: 2017 Spring
7.Semester: 2020 Spring
1.Semester: 2016 Fall
5.Semester: 2018 Fall
6.Semester: 2019 Fall
4.Semester: 2018 Spring
2.Semester: 2017 Fall
4.Semester: 2018 Fall
5.Semester: 2019 Spring
1.Semester: 2017 Spring
3.Semester: 2018 Spring
8.Semester: 2020 Spring
6.Semester: 2019 Spring
7.Semester: 2019 Fall
§.Semester: 2019 Spring
2.Semester: 2018 Spring
6.Semester: 2020 Spring
4.Semester: 2019 Spring
5.Semester: 2019 Fall
1.Semester: 2017 Fall
3.Semester: 2018 Fall
1.Semester: 2018 Fall
2.Semester: 2019 Spring
4.Semester: 2020 Spring
3.Semester: 2019 Fall
2.Semester: 2020 Spring
1.Semester: 2019 Fall
11.Semester: 2020 Spring
1.Semester: 2015 Spring
6.Semester: 2017 Fall
4.Semester: 2016 Fall
7.Semester: 2018 Spring
2.Semester: 2015 Fall
9.Semester: 2019 Spring
8.Semester: 2018 Fall
3.Semester: 2016 Spring
10.Semester: 2019 Fall
5.Semester: 2017 Spring
4.Semester: 2016 Spring
7.Semester: 2017 Fall
6.Semester: 2017 Spring
3.Semester: 2015 Fall
2.Semester: 2015 Spring
1.Semester: 2014 Fall
5.Semester: 2016 Fall
8.Semester: 2018 Spring
9.Semester: 2018 Fall
1.Semester: 2019 Spring
8.Semester: 2019 Spring
5.Semester: 2017 Fall
9.Semester: 2019 Fall
10.Semester: 2020 Spring
6.Semester: 2018 Spring
2.Semester: 2016 Spring
7.Semester: 2018 Fall
4.Semester: 2017 Spring
1.Semester: 2015 Fall
3.Semester: 2016 Fall
1.Semester: 2020 Spring
3.Semester: 2019 Spring
1.Semester: 2018 Spring
4.Semester: 2019 Fall
2.Semester: 2018 Fall
5.Semester: 2020 Spring
7.Semester: Semester: 2020
§.Semester: 2020 Spring
§.Semester: 2018 Spring

In [13]:
by_student = df_with_coeff.groupby('Student ID', as_index=False)

Function used to order correctly semesters and apply respective numeric values

In [14]:
new_df = pd.DataFrame()
for student in by_student:
    student_df = student[1]
    student_df['Semester'] = student_df['Semester'].str.split(':',expand=True)[1]
    student_df['Semester'][student_df['Semester'].isna()] = 'Unknown'
    semesters = student_df['Semester'].unique()
    semesters = sorted(semesters, key=lambda semester: f"{semester[:5]}a"
                      if 'Spring' in semester else f"{semester[:5]}b")
    student_df['Semester after registration'] = student_df['Semester'].apply(lambda sem: semesters.index(sem)+1
                                                                            if 'Unknown' not in sem else 99)
    new_df=new_df.append(student_df, ignore_index = True)

/home/fuad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/fuad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/fuad/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:8767: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/home/fuad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

The new data frame

In [15]:
new_df

,Student ID,Date of Birth,Registration Date,Faculty,Program,Education Level,Semester,Course code,Course name,Credits,Num Grade,Letter Grade,Grade Coefficient,Semester after registration
0,140301026,1995-09-19,2014-09-22,Faculty of Engineering and Natural Sciences,Genetics and Bioengineering (Bachelor),I Cycle (Bachelor),2019 Spring,BIO370,WORK PLACEMENT / INTERNSHIP,3|6,5.0,U,NaN,8
1,140301026,1995-09-19,2014-09-22,Faculty of Engineering and Natural Sciences,Genetics and Bioengineering (Bachelor),I Cycle (Bachelor),2019 Spring,BIO407,PROTEIN ENGINEERING,3|6,6.0,C,2.0,8
2,140301026,1995-09-19,2014-09-22,Faculty of Engineering and Natural Sciences,Genetics and Bioengineering (Bachelor),I Cycle (Bachelor),2019 Spring,BIO411,MAMMALIAN PHYSIOLOGY,3|6,5.0,F,0.0,8
3,140301026,1995-09-19,2014-09-22,Faculty of Engineering and Natural Sciences,Genetics and Bioengineering (Bachelor),I Cycle (Bachelor),2019 Spring,CS306,DATABASE MANAGEMENT,3|6,5.0,F,0.0,8
4,140301026,1995-09-19,2014-09-22,Faculty of Engineering and Natural Sciences,Genetics and Bioengineering (Bachelor),I Cycle (Bachelor),2019 Spring,ENS213,PROGRAMMING FOR ENGINEERS (+),3|6,5.0,F,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,190302141,1999-09-20,2019-09-30,Faculty of Engineering and Natural Sciences,Software Engineering (Bachelor),I Cycle (Bachelor),2019 Fall,ECON111,INTRO. TO MICROECONOMICS,3|6,5.0,F,0.0,1
4506,190302141,1999-09-20,2019-09-30,Faculty of Engineering and Natural Sciences,Software Engineering (Bachelor),I Cycle (Bachelor),2019 Fall,ELIT100,ACADEMIC ENGLISH AND EFFECTIVE COMMUNICATION,3|6,5.0,F,0.0,1
4507,190302141,1999-09-20,2019-09-30,Faculty of Engineering and Natural Sciences,Software Engineering (Bachelor),I Cycle (Bachelor),2019 Fall,MATH101,CALCULUS I,3|6,5.0,F,0.0,1
4508,190302141,1999-09-20,2019-09-30,Faculty of Engineering and Natural Sciences,Software Engineering (Bachelor),I Cycle (Bachelor),2019 Fall,NS112,UNDERSTANDING SCIENCE AND TECHNOLOGY,1.5|3,6.0,C,2.0,1
4509,190302141,1999-09-20,2019-09-30,Faculty of Engineering and Natural Sciences,Software Engineering (Bachelor),I Cycle (Bachelor),2019 Fall,TURK121,SPOKEN TURKISH I,1.5|3,5.0,F,0.0,1

##### Adding two more variables
##### Whether a course is program or non-program

In [1]:
course_program_dict = {
    'Genetics and Bioengineering (Bachelor)':'BIO',
    'Architecture (Bachelor)': 'ARCH',
    'Computer Sciences and Engineering (Bachelor)':'CS',
    'Electrical and Electronics Engineering (Bachelor)':'EE',
    'Industrial Engineering (Bachelor)': 'IE',
    'Mechanical Engineering (Bachelor)' : 'ME',
    'Software Engineering (Bachelor)':'SE'
    
}

In [2]:
fens_courses = ['BIO', 'ARCH', 'CS', 'EE', 'IE', 'ME', 'SE', 'MATH', 'ENS', 'NS']

In [3]:
def f(row):
    if not isinstance(row['Course code'], float):
        if course_program_dict[row['Program']] in row['Course code']:
            return 'Program course'
        return 'Non-program course'
    return float('nan')

In [4]:
def fac(row):
    if not isinstance(row['Course code'], float):
        if ''.join(i for i in row['Course code'] if not i.isdigit()) in fens_courses:
            return 'FENS course'
        return 'Non-FENS course'
    return float('nan')

In [ ]:
new_df['Program Course'] = new_df.apply(lambda x: f(x), axis=1)

In [ ]:
new_df['FENS Course'] = new_df.apply(lambda x: fac(x), axis=1)

In [52]:
new_df.to_csv('data_added_variables.csv')